In [ ]:

import pandas as pd

# 1. DataFrame Oluşturma
data = {'Ad': ['Ahmet', 'Mehmet', 'Ayşe', 'Fatma'],
        'Yaş': [25, 30, 22, 35],
        'Maaş': [5000, 7000, 4500, 8000]}
df = pd.DataFrame(data)
print("1. DataFrame:")
print(df)

In [ ]:

# 2. head() - İlk n satırı gösterme
print("\n2. İlk 2 satır:")
print(df.head(2))

In [ ]:

# 3. info() - Veri hakkında genel bilgi
print("\n3. DataFrame bilgileri:")
print(df.info())

In [ ]:

# 4. describe() - İstatistiksel özet
print("\n4. İstatistiksel özet:")
print(df.describe())

In [ ]:

# 5. loc[] - Belirli satır ve sütun seçme
print("\n5. loc[] kullanımı:")
print(df.loc[1, 'Ad'])

In [ ]:

# 6. iloc[] - İndeks numarasına göre seçim
print("\n6. iloc[] kullanımı:")
print(df.iloc[2, 1])

In [ ]:

# 7. sort_values() - Sıralama
print("\n7. Maaşa göre sıralama:")
print(df.sort_values(by='Maaş', ascending=False))

In [ ]:

# 8. isnull() - Eksik değerleri kontrol etme
print("\n8. Eksik değer kontrolü:")
print(df.isnull().sum())

In [ ]:

# 9. drop() - Sütun veya satır silme
print("\n9. 'Yaş' sütunu silinmiş DataFrame:")
print(df.drop(columns=['Yaş']))

In [ ]:

# 10. groupby() - Gruplama işlemi
print("\n10. Ortalama maaş değeri:")
print(df.groupby('Ad')['Maaş'].mean())